@font-face {
    font-family: "BreatheFire";
    src: url("../fonts/BreatheFireIi-2z9W.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "AncientModernTales";
  src: url("../fonts/AncientModernTales-a7Po.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
}

#main-title {
    font-family: "BreatheFire", serif;
    color: rgb(253, 174, 114);
    text-align: center;
    font-size: 15vh;
    text-shadow: 3px 3px 3px black;
    pointer-events: none;
}

.main-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/main-menu/main-menu.png") center / contain no-repeat;
}

.menu-btn {
    position: relative;
    top: 35%;
}

.info-btn {
    position: relative;
    top: 1%;
}

.info-btn .btn-text {
    font-size: 5vh;
}

.menu-btn .btn-text {
    font-size: 5vh;
}

/*Centrar botones, estilo de letra, quitar eventos de cursor*/
.btn-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "BreatheFire", serif;
    color: rgb(253, 174, 114);
    pointer-events: none;
}

/* Tamaño de los botones del menú principal */

#new-game {
    width: 50vh;
}

.first-scene {
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/first-scene.png") center / contain no-repeat;
}

.messagebox {
    position: absolute;
    bottom: 1vh;
    background: linear-gradient(305deg, #0000FF, #008AFF);
    width: 20%;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    color: white;
    font-size: 25px;
    font-family: "AncientModernTales", serif;
    margin: 10px auto;
}

.text-info{
    width: 40%;
    font-size: 3vh;
    color: rgb(253, 174, 114);
      background-color: rgba(0, 0, 0, 0.75); /* Rojo con 50% de opacidad */

    padding: 50px;
    font-family: "AncientModernTales", serif;
}


#character {
    position: absolute;
    width: 8vh;
    height: 8vh;
    object-fit: contain;

    /*Comprobar hitbox*/
    /* background-color: blue;*/
}

#character.attack {
    /*Comprobar hitbox*/
    /* background-color: green;*/

}

#enemy {
    position: absolute;
    width: 8vh;
    height: 8vh;
    top: 45vh;
    left: 70vw;

    /*Comprobar hitbox*/
    /* background-color: red;*/
}

.enemy{
  position: absolute;
  width: 8vh;
  height: 8vh;
  object-fit: contain;
}

/* Portal hitbox */
#portal-hitbox{
  position: absolute;
  left: 44vw;
  top: 25vh;
  width: 6vw;
  height: 15vh;

  /*background: rgba(255, 0, 0, 0.25);
  outline: 2px solid rgba(255,0,0,0.8);*/
}

#fade-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: radial-gradient(circle, rgba(0,0,0,0) 0%, black 80%);
  opacity: 0;

  pointer-events: none;

  transition: opacity 0.8s ease;

  z-index: 99999;
}

/* "Animación" del enemigo al perder vida */

.hit {
    filter: brightness(0.5) sepia(1) saturate(20) hue-rotate(-20deg);
}


.second-scene {
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/second-scene.png") center / contain no-repeat;
}

.wall{
  position:absolute;
 /* background: rgba(255,0,0,0.25); */
}

.trigger{
  position: absolute;
  /* debug mientras ajustas */
  background: rgba(0,255,0,0.25);
  outline: 2px solid rgba(0,255,0,0.8);
}

/* AJUSTA estas medidas a tu mapa */
#scene-trigger{
  left: 46.5vw;
  top: 95vh;
  width: 8vw;
  height: 12vh;
}



#wall-bottom-left{
  left: 6.25vw;
  top:59vh;
  width:40vw;
  height:40vh;
}

#wall-bottom-right{
  right: 6vw;
  top: 59vh;
  width:40vw;
  height:40vh;
}

#pillar1{
  left:43.25vw;
  top:33vh;
  width: 1vw;
  height:3vh;
}

#pillar2{
  left:55.75vw;
  top:33vh;
  width: 1vw;
  height:3vh;
}

#pillar3{
  left:38.75vw;
  top:51vh;
  width: 1vw;
  height:3vh;
}

#pillar4{
  left:60.4vw;
  top:51vh;
  width: 1vw;
  height:3vh;
}

#water1{
  left:32.5vw;
  top:56vh;
  width: 1vw;
  height:3vh;
}


#water2{
  left:64.5vw;
  top:56vh;
  width: 1vw;
  height:3vh;
}

#hud{
  position: fixed;
  top: 16px;
  left: 650px;
  z-index: 999999;
}

#hp-wrap{
  width: 220px;
  height: 18px;
  border: 2px solid rgb(253, 174, 114);
  background: rgba(0,0,0,0.5);
  border-radius: 8px;
  overflow: hidden;
}

#hp-bar{
  height: 100%;
  width: 100%;
  background: red;
  transition: width 0.15s linear;
}

#character.damage{
  filter: brightness(0.5) sepia(1) saturate(20) hue-rotate(-20deg);
}



.third-scene {
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/third-scene.png") center / contain no-repeat;
}

#jump-hitbox{
  position: absolute;
  left: 48.75vw;
  top: 75vh;
  width: 2.5vw;
  height: 5vh;

  background: rgba(255, 0, 0, 0.25);
  outline: 2px solid rgba(255,0,0,0.8);
}

#jump-message{
  position: absolute;
  left: 50vw;
  top: 90vh;
  transform: translateX(-50%);
  z-index: 99999;

  background: rgba(0,0,0,0.75);
  color: rgb(253, 174, 114);
  padding: 10px 16px;
  border-radius: 8px;

  font-family: "AncientModernTales", serif;
  font-size: 22px;

display: none;
  pointer-events: none;
}


.boss-scene{
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/boss-scene.png") center / contain no-repeat;
}